<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p class="alert alert-{{messageClass()}}" ng-if="message.text.length">{{message.text}}</p>
        <h2 ng-if="queryTitle">{{queryTitle}} (estimated)</h2>        
        <table class="table table-striped empty geotable">
            <tbody>
                <tr>
                    <td class="geotable__fieldname">IP</td>
                    <td class="geotable__fieldvalue">{{query.ip}}</td>
                    <td class="text-right">
                        <button class="btn btn-default help">?</button>
                    </td>
                </tr>
                <tr>
                    <td class="geotable__fieldname">Country</td>
                    <td class="geotable__fieldvalue">{{query.country_name}}</td>
                    <td class="text-right">
                        <button class="btn btn-default help">?</button>
                    </td>
                </tr>
                <tr>
                    <td class="geotable__fieldname">Region</td>
                    <td class="geotable__fieldvalue">{{query.region_name}}</td>
                    <td class="text-right">
                        <button class="btn btn-default help">?</button>
                    </td>
                </tr>
                <tr>
                    <td class="geotable__fieldname">City</td>
                    <td class="geotable__fieldvalue">{{query.city}}</td>
                    <td class="text-right">
                        <button class="btn btn-default help">?</button>
                    </td>
                </tr>
                <tr>
                    <td class="geotable__fieldname">Zip Code</td>
                    <td class="geotable__fieldvalue">{{query.zip_code}}</td>
                    <td class="text-right">
                        <button class="btn btn-default help">?</button>
                    </td>
                </tr>
                <tr>
                    <td class="geotable__fieldname">Latitude</td>
                    <td class="geotable__fieldvalue">{{query.latitude}}</td>
                    <td class="text-right">
                        <button class="btn btn-default help">?</button>
                    </td>
                </tr>
                <tr>
                    <td class="geotable__fieldname">Longitude</td>
                    <td class="geotable__fieldvalue">{{query.longitude}}</td>
                    <td class="text-right">
                        <button class="btn btn-default help">?</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">            
            <div class="col-lg-6">
                <div class="form-group well well-sm">
                    <label>My location</label>
                    <div class="row">
                        <div class="col-sm-6">
                            <button class="btn btn-block btn-primary" ng-click="getMyLocation()">Locate me</button>                                
                        </div>
                        <div class="col-sm-6">                                
                            <button class="btn btn-block btn-default" ng-click="resetLocation()">Reset my location</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group well well-sm">
                    <label>Website location</label>
                    <div class="input-group">
                        <span class="input-group-addon">http://</span>
                        <input class="form-control" placeholder="Retrieve location from URL" ng-model="url">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" ng-click="getSiteLocation()" ng-disabled="!url">Go</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div id="map"></div>
    </div>    
</div>